.element__like {
    background-image: url(../../../images/like.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    margin: 30px 20px 30px 0;
    width: 22px;
    height: 19px;
    transition: opacity .5s ease;
    cursor: pointer;
}

.element__like:hover {
    opacity: 0.5;
}