.main {
    justify-items: center;
    max-width: 1280px;
}

@media screen and (max-width: 1024px) {
    .main {
        padding: 0 19px;
    }
}

@media screen and (max-width: 768px) {
    .main {
        max-width: 320px;
    }
}