.header__logo {
    width: 142px;
    margin: 0;
    padding-bottom: 40px;
}

@media  screen and (max-width: 1024px) {
    .header__logo {
        margin-left: 27px;
    }
}


@media screen and (max-width: 999px) {
    .header__logo {
      margin-left: 27px;
      max-width: 104px;
      max-height: 24.4px;
    }
  }


@media  screen and (max-width: 768px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        padding-bottom: 31.6px;
    }
}