.profile__add-button {
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    background-image: url(../../../images/Vector+.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity .5s ease;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 35px;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .profile__add-button {
        width: 282px;
    }
}
