.popup__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    padding: 34px 0 50px 36px;
    margin: 0;
    color: black;
}


@media screen and (max-width:725px) {
    .popup__title {
        max-width: 238px;
        font-size: 18px;
        line-height: 22px;
        margin: 25px 22px 0 22px;
        padding-left: 0;
    }
}